{{!
    @template local_mycoursesfilter/course_list

    Compact list view of filtered courses.
}}
<div class="local-mycoursesfilter-list list-group">
    {{#courses}}
        <div class="list-group-item list-group-item-action flex-column align-items-stretch mb-3 border rounded">
            <div class="d-flex flex-column flex-md-row">
                <div class="mr-md-3 mb-3 mb-md-0 local-mycoursesfilter-listimagewrap">
                    <a href="{{viewurl}}">
                        <img class="img-fluid rounded local-mycoursesfilter-listimage" src="{{courseimage}}" alt="{{fullname}}">
                    </a>
                </div>
                <div class="flex-fill">
                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                        <div class="mr-3">
                            <h3 class="h5 mb-1"><a href="{{viewurl}}">{{{fullname}}}</a></h3>
                            {{#showcoursecategory}}
                                <div class="text-muted small mb-2">{{coursecategory}}</div>
                            {{/showcoursecategory}}
                        </div>
                        {{#isfavourite}}
                            <span class="badge badge-warning">{{favouritelabel}}</span>
                        {{/isfavourite}}
                    </div>
                    {{#hassummary}}
                        <div class="local-mycoursesfilter-summarytext">{{{summaryhtml}}}</div>
                    {{/hassummary}}
                </div>
            </div>
        </div>
    {{/courses}}
</div>
